#homepage-container,
#profile-container {
  margin: 3% 10%;
}

#push-up {
  margin-top: 20%;
}

#home-layout {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30%;
}

#home-grid {
  margin-bottom: 10%;
}

#logo-heading {
  font-family: "Replica Light";
  font-size: 13rem;
  transform: skew(20deg);
  rotate: -15deg;
  display: table-caption;
  text-align: left;
  /* margin-left: 10%; */
  line-height: 90%;
  padding-top: 5%;
}

.row {
  margin-left: auto;
}

.fixed-bottom {
  background-color: var(--main-bg-color);
}

#logo-container {
  display: block;
  padding-left: 8%;
}

#create-heading {
  font-family: "Replica Light";
  font-size: 10rem;
  text-align: left;
  margin: 0px 10%;
}

#create-heading a {
  text-decoration: none;
  /* color: var(--bs-body-color); */
  /* color: #001f54; */
}

#create-heading a:hover {
  color: var(--bs-body-color);
}

/* #featured-post #module .card {
  padding: 4px;
  width: 10%;
} */

.home,
.create,
.profile {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

/* Collapsible cards */
#module {
  width: auto;
}

#module a.collapsed:after {
  content: "More";
}

#module a:not(.collapsed):after {
  content: "Less";
}

#module #collapseExample.collapse:not(.show) {
  display: block;
  /* height = lineheight * no of lines to display */
  height: 15em;
  overflow: hidden;
}

#module #collapseExample.collapsing {
  height: 4.5em;
}

div .card {
  margin: 1rem;
  /* padding: 4px; */
  width: 500px;
}


#featured-post {
  margin: 1rem;
  /* padding: 4px; */
  width: 500px;
}

/* Toggle button styling */
#lyrics-btn {
  margin-right: 1rem;
}

.card-body {
  padding-top: 0;
}

#profile-card-subtitle {
  padding-top: 1rem;
}
