#homepage-container,
#profile-page-container {
  margin: 3% 10%;
}

#push-up {
  margin-top: 20%;
}

#home-layout {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10%;
}

#home-grid {
  margin-bottom: 10%;
}

#profile-grid {
  margin-bottom: 5%;
}

#logo-heading {
  font-family: "Replica Light";
  font-size: 13rem;
  transform: skew(20deg);
  rotate: -15deg;
  display: table-caption;
  text-align: left;
  /* margin-left: 10%; */
  line-height: 90%;
  padding-top: 5%;
}

#profile-heading {
  font-family: "Replica Light";
  font-size: 8rem;
  transform: skew(30deg);
  transform: skewY(10deg);
  rotate: -20deg;
  display: table-caption;
  text-align: left;
  /* margin-left: 10%; */
  line-height: 90%;
  padding-top: 5%;
  z-index: auto;
}

#profile-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#profile-settings-link {
  font-family: "Replica Light";
  transform: skew(40deg);
  transform: skewX(-15deg);
  font-size: 5rem;
  border: 0.5rem solid black;
  text-align: center;
  margin: 0% 10%;
  padding: 5%;
  text-decoration: none;
}

#profile-settings-link a {
  text-decoration: none;
  /* color: black; */
  text-decoration: none;
  /* color: #001f54; */
}

#profile-settings-link a:hover {
  font-weight: 200;
  font-style: italic;
  color: black;
}

.row {
  margin-left: auto;
}

.fixed-bottom {
  background-color: var(--main-bg-color);
}

#logo-container {
  display: block;
  padding-left: 8%;
}

#arrow img {
  width: 100%;
  scale: 20%;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

#create-heading {
  font-family: "Replica Light";
  font-size: 10rem;
  text-align: left;
  margin: 0px 10%;
}

#create-heading a {
  text-decoration: none;
  /* color: var(--bs-body-color); */
  /* color: #001f54; */
}

#create-heading a:hover {
  color: var(--bs-body-color);
}

/* #featured-post #module .card {
  padding: 4px;
  width: 10%;
} */

.home,
.create,
.profile {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

/* Collapsible cards */
#module {
  width: auto;
}

#module a.collapsed:after {
  content: "More";
}

#module a:not(.collapsed):after {
  content: "Less";
}

#module #collapseExample.collapse:not(.show) {
  display: block;
  /* height = lineheight * no of lines to display */
  height: 15em;
  overflow: hidden;
}

#arrow {
  /* width: 50%; */
  display: flex;
  flex-direction: row;
  justify-content: last baseline right;
  scale: 70%;
}

#module #collapseExample.collapsing {
  height: 4.5em;
}

div .card {
  margin: 1rem;
  /* padding: 4px; */
  width: 500px;
}

/* Toggle button styling */
#lyrics-btn {
  margin-right: 1rem;
}

.card-body {
  padding-top: 0;
}

#profile-card-subtitle {
  padding-top: 1rem;
}
