@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@font-face {
  font-family: "Replica Light";
  src: url("../fonts/Replica/Replica\ Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Replica Pro Regular";
  src: url("../fonts/Replica/Replica\ ProRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-bg-color: #ecd6cb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Replica", sans-serif;
}

body {
  background-color: var(--main-bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  text-align: center;
  color: black;
}

h2 {
  text-align: auto;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Replica Light.otf", sans-serif;
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}

.lyrics-container {
  margin: auto;
  width: calc(30% - 20px);
  display: table;
  justify-content: center;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.lyrics-output-card {
  text-align: center;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80 px rgba(34, 35, 58, 0.2);
  border-radius: 15px;
  transition: all 0.3s;
}

.auth-wrapper .form-contral:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}
