.login-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--main-bg-color);
  justify-content: center;
  padding: 10%;
}

img {
  width: 50%;
}

.login-form {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;

}

.login-input input {
  border-color: black;
  background-color: white;
  margin-bottom: 5%;
  padding: 3%;
  border-radius: 80px;
  border-width: 3px;
  width: 40%;
  height: 40%;
  min-width: 200px;
  /* min-height: 100px; */
}

.login-slogan {
  font-family: "Replica Pro Regular";
  font-size: 4rem;
  font-weight: 200;
  display: flex;
  justify-content: right;
  flex-direction: row-reverse;
}

/* Button handling */

.fancy-button {
  background: #fbca1f;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  margin-bottom: 4%;
}

.fancy-button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.fancy-button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.login-input input:focus {
  outline: 0;
}
