.navbar {
  display: inline;
  align-items: left;
  justify-content: space-between;
  margin-right: auto;
}

.bottom-nav {
  font-family: "Replica Light";
  font-size: 6vw;
  text-align: left;
  text-decoration: none;
}

.bottom-nav:hover {
  color: black;
}

.fixed-bottom {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-bottom: 0;
}

#nav-top-bar,
#nav-top-bar:visited {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  font-family: "Replica Light";
  text-decoration: none;
  font-size: 3vw;
  margin: auto;
}

#nav-home {
  font-family: "Replica Light";
}

#nav-profile {
  font-family: "Replica Light";
}

#nav-logout {
  font-family: "Replica Light";
}
