.su-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  background: #ecd6cb;
  padding: 5%;
}


img {
  width: 50%;
  offset: 40px 10px;
}

.su-title {
  font-family: "Replica Pro Regular";
  font-size: 4rem;
  font-weight: 200;
  /* display: flex; */
  justify-content: right;
}

.su-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transform: skew(10deg);
  rotate: -20deg;
  margin-right: 5%;
  margin-top: 10%;
}

/* .login-input input {
  border-color: black;
  background-color: white;
  margin-bottom: 5%;
  padding: 3%;
  border-radius: 80px;
  border-width: 3px;
  width: 40%;
  height: 40%;
  min-width: 200px;
} */

/* .su-input {
  border-color: black;
  margin-bottom: 5%;
  padding: 3%;
  border-radius: 80px;
  border-width: 3px;
  width: 40%;
  height: 40%;
  min-width: 200px;
} */

/* .su-form input {
  border-color: #767676;
  font-size: 16px;
  background-color: #f4f5f6;
  margin-bottom: 32px;
  padding: 32px;
  border-radius: 80px;
  width: 320px;
  height: 64px;
} */

.su-form input:focus {
  outline: 0;
}

/* Button handling */

.fancy-button {
  background: #fbca1f;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  margin-bottom: 4%;
}

.fancy-button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.fancy-button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.login-input input:focus {
  outline: 0;
}
